html, body {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background: rgb(212,151,38);
    background: radial-gradient(circle, rgba(212,151,38,1) 8%, rgba(158,112,24,1) 80%);
}

.header-logo {
    color: #fff;
    font-size: 32px;
    transition: all 0.15s ease-in-out;
    text-decoration: none;
}

.header-logo:hover {
    text-shadow: 0px 0px 6px rgba(255,255,255,0.6);
    transform: scale(1.08);
}

.mod-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.mod-info-block {
    margin: 0 auto;
}

.mod-title {
    font-size: 33px;
    margin: 0;
}

.mod-meal-name {
    font-size: 6vmin;
    margin: 30px;
    color: #d49726;
    transition: color 0.2s ease-in-out;
}

.mod-meal-name:hover {
    color: #9c6e17;
}

.random-name-link {
    text-decoration: none;
}

.mod-meal-category {
    display: inline;
    font-size: 18px;
}

.mod-meal-image{
    width: 33vw;
    border-radius: 10px;
    box-shadow: 16px 15px 40px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: 16px 15px 40px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 15px 40px -9px rgba(0,0,0,0.75);
}

.random-image-link {
    display: flex;
    margin: 65px 9% 65px 0px;
    transition: all 0.2s ease-in-out;
}

.random-image-link:hover {
    transform: scale(0.97); 
}

.find-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
  }

.find-title {
    margin-bottom: 1.5rem;
    font-size: 32px;
    margin-top: 5px;
}
  
.find-search-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.find-search-input {
    width: 240px;
    padding: 0.8rem 0.5rem;
    font-size: 13px;
    outline: none;
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #dcdcdc;
}

.validation-message {
    font-family: 'Raleway', sans-serif;
    color: #d49726;
    font-size: 30;
    margin-top: 10px;
}
  
.find-search-button {
    background-color: #d49726;
    color: white;
    border: 1px solid transparent;
    padding: 0.8rem 1.8rem;
    cursor: pointer;
    font-size: 13px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all 0.2s ease;
}

.find-search-button:hover {
    background-color: #9e7018;
}
  
.list-section {
    padding-bottom: 50px;
    font-family: 'Raleway', sans-serif;
}

.meal {
    width: 95%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
    align-items: center;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.2s ease;
}

.meal:hover {
    background-color: #d8d8d8; 
    transform: scale(0.97);
}

.list-meal-image {
    display: flex;
    width: 28vw;
    margin: 10px 10px;
    border-radius: 10px;
    box-shadow: -12px 15px 40px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: -12px 15px 40px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -12px 15px 40px -9px rgba(0,0,0,0.75);
}

.list-info-block {
    font-size: 16px;
    color: black;
}

.list-meal-name {
    margin: 0;
}

.list-meal-category {
    display: inline;
}

.loading-text {
    margin-top: 10%;
    font-size: 60px;
    text-align: center;
    color: #b98527;
}

.meal-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.md-info-block {
    margin: 5% 0% 5% 1%;
    width: 50%;
    text-align: center;
}

.md-meal-name {
    font-size: 6vmin;
    margin: 30px;
    color: #d49726;
}

.md-meal-category {
    font-size: 18px;
    display: inline;
}

.ingredients{
    text-align: start;
    font-family: 'Raleway', sans-serif;
}

.ingredient {
    margin: 6px;
    list-style-type: none;
}

.measure {
    font-family: 'Cormorant Garamond', serif;
    font-size: 19px;
}

.ingredient::before {
    content: "- ";
}

.md-meal-image {
    display: flex;
    width: 33vw;
    margin: 70px 9% 65px 0px;
    border-radius: 10px;
    box-shadow: 16px 15px 40px -9px rgba(0,0,0,0.75);
    -webkit-box-shadow: 16px 15px 40px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 16px 15px 40px -9px rgba(0,0,0,0.75);
}

.instructions-block {
    padding: 0px 35px 55px 35px;
}

.intstructions-title {
    text-align: center;
    font-size: 33px;
    margin-bottom: 0;
}

.intstructions-para {
    font-family: 'Raleway', sans-serif;
}

.btn-block {
    padding: 0px 35px 90px 35px;
}

.youtube-button {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #fff;
    border-radius: 7px;
    padding: 13px 30px;
    font-size: 16px;
    font-weight: 700;
    background-color: #ff0000;
    transition: all 0.2s ease;
}

.youtube-button:hover {
    background-color: #b40b0b;
}